@import "tailwindcss";

@theme {
  --animate-scan: scan 2s linear infinite;
  
  @keyframes scan {
    0% { top: 0; }
    100% { top: 100%; }
  }
}

.scan-region-shadow {
  box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3);
}
